@media (min-width:320px) { body { padding: 1em; } }
@media (min-width:481px) { body { padding: 1em 4em; } }

article {
  font-family: monospace;
}
article pre {
  white-space: pre;
  overflow-x: auto;
  margin: 0 0 -1em 0;
  padding-top: 1em;
  background-color: #eee;
}
article code {
  background-color: #eee;
  font-family: Monaco;
}
footer {
  opacity: 0.1;
}
