body { overflow-x: hidden; }

@media (min-width:320px) { body { padding: 1em; } }
@media (min-width:481px) { body { padding: 1em 4em; } }

body {
  font-family: monospace;
  font-size: 1.2em;
}
pre {
  white-space: pre;
  overflow-x: auto;
  margin: 0;
  padding: 0.5em;
  background-color: #eee;
}
code {
  background-color: #eee;
  padding: 0 0.2em;
}
pre code { padding: 0; }
footer {
  opacity: 0.1;
}

blockquote::before { content: '| '; }
blockquote { margin: 1em; font-style: italic; color: grey; overflow-x: hidden; }

mark { background-color: hsla(50, 100%, 80%, 0.6); }
em { background-color: hsla(80, 100%, 80%, 0.6); font-style: normal; }

hr {
  opacity: 0.3;
  padding-top: 0.5em;
  border: none;
  &::after { margin-left: 1em; content: "----------------"; }
}

div.scrolling { width: 100%; overflow-x: auto; }

table {
  border-collapse: collapse;
  & td, th { border: 1px solid lightgrey; padding: 0.3em; }
}

img { width: 100%; box-shadow: 1em 1em 2em grey; }
img.half { max-width: 480px; }
figure { margin: 2em; text-align: center; }

i.larger-icon { font-style: normal; font-size: 1.2em; padding-right: 0.5em; }
