body {
  background-color: #ffe;
}
article {
  white-space: pre-line;
  font-family: Monaco;
  font-size: 0.9em;
  margin: 5% 10%;
}
article pre {
  white-space: pre;
  overflow-x: auto;
  margin: 0 0 -1em 0;
  padding-top: 1em;
  font-size: 1.1em;
  background-color: #eee;
}
article code {
  background-color: #eee;
  font-family: Monaco;
}
footer {
  opacity: 0.1;
}
